<div class="intro-section" id="apropos">
  <div class="intro-image">
    <img src="assets/images/test.png" alt="Lucas Fleurant" />
  </div>
  <div class="intro-text">
    <h1>Bonjour, je suis Lucas Fleurant</h1>
    <p>
      Développeur web basé au Québec, je suis passionné par la programmation de plusieurs types allant du web au jeux vidéos.
      Mon objectif est de créer des expériences utilisateur modernes et performantes ainsi que d'apprendre d'autres languages et m'amuser.
    </p>
    <p>
      Je suis actuellement un développeur junior chez <a href="https://www.infogt2000.com/">InfoGT2000</a>. J'y programme des applications web en php.
    </p>
  </div>
</div>