<div class="intro-section" id="contact">
  <div class="intro-text">
    <h1>Contact</h1>
    <p>Vous pouvez me joindre par les moyens suivants :</p>

    <ul class="contact-list">
      <li><strong>Email :       </strong> <a href="mailto:lucasfleurant@hotmail.com">lucasfleurant&#64;hotmail.com</a></li>
      <li><strong>LinkedIn :        </strong> <a href="https://www.linkedin.com/in/lucas-fleurant/" target="_blank">linkedin.com/in/lucas-fleurant/</a></li>
      <li><strong>GitHub :        </strong> <a href="https://github.com/FleurantLucas" target="_blank">github.com/FleurantLucas</a></li>
    </ul>
  </div>
</div>